<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	<body>
		<div class = "container-fluid">
			<nav class = "navbar navbar-fixed-top" style = "background-color:#f1c40f">
				<div>
					<ul class = "nav navbar-nav" style="font-weight:bold;font-color:#00f">
						<li><a href = "/">Home</a></li>
						<li><a href = "/sessions/welcome">Start</a></li>
						<% if (!loggedIn) { %>
                            <li><a href = "/sessions/login">Login</a></li>
                            <li><a href = "/sessions/signup">Sign Up</a></li>
                        <% } else { %>
                            <li><a href = "/sessions/logout">Log Out</a></li>
                        <% } %>
					</ul>
				</div>
			</nav>
            <br>
            <br>
            <br>
            <div class = "jumbotron" style = "background-color:#3498db">
                <h1>
                    <span style="color:#444444">Principia</span>
                    <br>
                    <small><span style="color:#cccccc">An interactive learning website for the future</span></small>
                    
                </h1>
            </div>
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    <div class = "page-header"><h1>About Our Website</h1></div>
                    <p>
                        Formulas litter our lives.  Wherever we look, it's <i>y = mx + b</i> here or <i>F = ma</i> there.  Don't you think there should be a way to organize this?  To make better sense of our world, this site aims to consolidate math, science, and engineering study guides.   
                    </p>
                </div>
                <div class = "col-md-2"></div>
            </div>
		</div>
	</body>
</html>