.minipage {
	width: 75%;
	margin-top: 6em;
	margin-bottom: 4em;
	padding: 2em;
	/*background: #e8e8fb;*/
}

p#equation {
	color: #0077bb;
	display: block;
	font-size: 2em;
	margin: 2em;
	background: #f3fbfb;
	padding: .5em 2em;
	border-radius: 12px;
}

.