<!DOCTYPE html>
<html>
    <head>
        <title>Principia | Formula Index</title>
        <link rel="icon" type="image/png" href="http://puu.sh/fWjsh/60319965f4.png">
        <meta charset = "utf-8">
        <link rel = "stylesheet" type = "text/css" href =  "/stylesheets/bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/bluebox.css">
        <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    </head>
    <body>
        <br>
        <br>
        <div class = "container-fluid">
            <nav class = "navbar navbar-fixed-top" style = "background-color:#f1c40f">
                <div>
                    <ul class = "nav navbar-nav" style="font-weight:bold;font-color:#00f">
                        <li><a href = "/">Home</a></li>
                        <li><a href = "/sessions/welcome">Start</a></li>
                        <% if (!loggedIn) { %>
                            <li><a href = "/sessions/login">Login</a></li>
                            <li><a href = "/sessions/signup">Sign Up</a></li>
                        <% } else { %>
                            <li><a href = "/sessions/logout">Log Out</a></li>
                            <li><a href = "/profile"><b><%=user.firstname%></b></a></li>
                        <% } %>
                        <li><a href = "/formula/">All Formulas</a></li>
                    </ul>
                </div>
            </nav>
            <br>
            <br>
            
            <div class="row" style="text-align:center;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="bord">
                        <div class="jumbotron" style = "background-color:#ecf0f1">
                            <h1>Formula Listing</h1>
                                <% if (formulas) { %>
                                    <% if (!formulas.hasOwnProperty('length')) { formulas = [formulas]; } %>
                                    <% for (var i = 0; i < formulas.length; i++) { %>
                                        <h3><a href='/formula/display/<%= formulas[i].id %>'>
                                            <%= formulas[i].title %>
                                        </a></h3>
                                        <p> \[<%= formulas[i].formula %>\] </p>
                                    <% } %>
                                <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </body>
</html>
