<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
	</head>
	<body>
		<div class = "container-fluid">
			<nav class = "navbar navbar-fixed-top" style = "background-color:#333333">
				<div>
					<ul class = "nav navbar-nav">
						<li><a href = "/">Home</a></li>
						<li><a href = "/sessions/welcome">Welcome</a></li>
						<% if (!loggedIn) { %>
							<li><a href = "/sessions/login">Login</a></li>
							<li><a href = "/sessions/signup">Sign Up</a></li>
						<% } else { %>
							<li><a href = "/sessions/logout">Log Out</a></li>
						<% } %>
					</ul>
				</div>
			</nav>
			<form>
				<div class = "form-group">
					<label for = "subject">Subject</label>
					<div class = "subjectRadio">
					<label><input type = "radio" name = "math"
				<div class = "form-group">
					<label for = "formula_name">Formula Name</label>
					<input type = "text" class = "form-control" id = "formulaName" name = "formula_name" placeholder = "formula name">
				</div>
				<div class = "form-group">

		</div>

	</body>
</html>