<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
	</head>
	<body>
		<div class = "container-fluid">
			<nav class = "navbar navbar-fixed-top">
				<div>
					<ul class = "nav navbar-nav">
						<li><a href = "index.ejs">Home</a></li>
						<li><a href = "welcome.ejs">Welcome</a></li>
						<li><a href = "login.ejs">Login</a></li>
						<li><a href = "#">Sign Up</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</body>
</html>