<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
	</head>
		<div class="container-fluid">
			<div id = "welcome-info"></div>
			<% if(loggedIn) {
				document.getElementById('welcome-info').innerHTML = '<p>Welcome, <% user.firstname %></p>';
			} %>
		</div>
</html>