<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
	</head>
		<div class="container-fluid">
			<nav class = "navbar navbar-fixed-top" style = "background-color:#333333">
				<div>
					<ul class = "nav navbar-nav">
						<li><a href = "/">Home</a></li>
						<li><a href = "/sessions/welcome">Welcome</a></li>
						<li><a href = "/sessions/login">Login</a></li>
						<li><a href = "/sessions/signup">Sign Up</a></li>
					</ul>
				</div>
			</nav>
			<div id = "welcome-info" style="margin-top:6em"></div>
			<h1>Welcome</h1>
			<p>We would like to welcome you, <%= user.firstname %>, to our site</p>
		</div>
</html>