<!DOCTYPE html>
<html>
	<head>
		<title>Principia - </title>
        <link rel="icon" type="image/png" href="http://puu.sh/fWjsh/60319965f4.png">
		<meta charset = "utf-8">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
	</head>
	<body>
		<div class = "container-fluid">
			<nav class = "navbar navbar-fixed-top" style = "background-color:#f1c40f">
				<div>
					<ul class = "nav navbar-nav" style="font-weight:bold;font-color:#00f">
						<li><a href = "/">Home</a></li>
						<li><a href = "/sessions/welcome">Start</a></li>
						<% if (!loggedIn) { %>
                            <li><a href = "/sessions/login">Login</a></li>
                            <li><a href = "/sessions/signup">Sign Up</a></li>
                        <% } else { %>
                            <li><a href = "/sessions/logout">Log Out</a></li>
                            <li><a href = "/profile"><b><%=user.firstname%></b></a></li>
<<<<<<< HEAD
                            <li><a href = "/formula/make"><b>Make Formula</b></a></li>
=======
>>>>>>> cd3867100a3c8a389158cbc62b1a5550e828d43e
                        <% } %>
                        <li><a href = "/formula/">All Formulas</a></li>
					</ul>
				</div>
			</nav>
			<form>
				<div class = "form-group">
					<label for = "subject">Subject</label>
					<div class = "subjectRadio">
					<label><input type = "radio" name = "math"
				<div class = "form-group">
					<label for = "formula_name">Formula Name</label>
					<input type = "text" class = "form-control" id = "formulaName" name = "formula_name" placeholder = "formula name">
				</div>
				<div class = "form-group">

		</div>

	</body>
</html>