<!DOCTYPE html>
<html>
	<head>
		<title>Principia | Sign Up</title>
        <link rel="icon" type="image/png" href="http://puu.sh/fWjsh/60319965f4.png">
        <meta charset = "utf-8">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/bootstrap.css">
	</head>
	<body style = "background-color:#42647f">
		<div class = "container-fluid">
            <% include ../partials/navbar %>
            <br>
            <br>
            <br>
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8" style = "background-color:#F4FFE9;border-radius:4px;border-style:solid;border-color:#34495e;border-width:9px;">
                    <div class = "page-header"><h1>Sign Up</h1></div>
                    <% include ../partials/flash %>
                    <form method="post" action="/sessions/new">
                        <div class ="form-group">
                            <label for = "email">Email Address</label>
                            <input type = "email" class = "form-control" id = "emailAddress" name = "email" placeholder = "Enter your email address here">
                        </div>
                        <div class = "form-group">
                            <label for = "name">Name</label>
                            <input type = "text" class = "form-control" id = "firstName" name = "firstname" placeholder = "First">
                            <br>
                            <input type = "text" class = "form-control" id = "lastName" name = "lastname" placeholder = "Last">
                        </div>
                        <div class = "form-group">
                            <label for = "password">Pick a Password</label>
                            <input type = "password" class = "form-control" id = "password" name = "password" placeholder = "Enter your password here">
                        </div>
                        <div class = "form-group">
                            <label for = "passwordConfirm">Confirm Your Password</label>
                            <input type = "password" class = "form-control" id = "passwordConfirm" name = "password_confirmation" placeholder = "Confirm you password here">
                        </div>
                        <button type = "submit" class = "btn btn-primary">Sign Up</button>
                        <br>
                        <br>
                    </form>
                </div>
                <div class = "col-md-2"></div>
            </div>
		</div>
	</body>
</html>
